# Shell variables for acessing services
#
# Rename this file to .env and fill in the appropriate credentials.
# These will be loaded into the Python client and used as the target
# for sensor readings.

# Location
LAT=""
LON=""
ALT=""

# Thingsboard
THINGSBOARD_ACCESS_TOKEN=""
THINGSBOARD_SERVER=""
THINGSBOARD_PORT=""

# Weather Underground
WU_STATION_ID=""
WU_STATION_KEY=""
WU_API_KEY=""

# Open Weather
OW_API_KEY=""
