# Shell variables for acessing services
#
# Rename this file to .env and fill in the appropriate credentials.
# These will be loaded into the Python client and used as the target
# for sensor readings.

# Location of the weather station
LAT=""
LON=""
ALT=""

# Logging level (DEBUG, INFO, WARNING, ERROR, CRITICAL)
LOGLEVEL="INFO"

# MQTT broker
MQTT_SERVER=""
MQTT_USERNAME=""
MQTT_PASSWORD=""

# Home Assistant
HOME_ASSISTANT_MQTT_USERNAME=""
HOME_ASSISTANT_MQTT_PASSWORD=""

# Weather Underground
WU_STATION_ID=""
WU_STATION_KEY=""
WU_API_KEY=""

# Open Weather
OW_API_KEY=""
