# Shell variables for acessing ThingsBoard
#
# Rename this file to .env and fill in the appropriate credentials.
# These will be loaded into the Python client and used as the target
# for sensor readings.

ACCESS_TOKEN="thingsboard-access-token"
THINGSBOARD_SERVER="Name-or-IP-address-of-Thingsboard-server"
THINGSBOARD_PORT="Port-number-of-Thingsboard-server"
